
/* Navbar Section Start Here */
.menu_section{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background: #fff;
  align-items: center;
  box-shadow: 1px 1px 4px 0px #0c0b0b;
}
.fixed .menu_section {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: #fff;
	z-index: 999;
	margin: 0 auto;
}
.main_menu > li{
  display: inline-block;
  position: relative;
  color: #444;
}
.dropdown_menu > li{
  position: relative;
}
.main_menu > li.active > a{
  color: #4705ec;
}
.main_menu > li > a{
  padding: 2rem 1.5rem;
  color: #2d3436;
  text-transform: capitalize;
  display: inline-block;
  font-size: 17px;
  display: inline-flex;
  align-items: center ;
}
.main_menu > li > a> i{
  margin-left: 8px;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
.main_menu > li > a:hover i{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.main_menu > li > a:hover{
  color: #4705ec;
}
.dropdown_menu,
.dropdown_sub_menu{
  position: absolute;
  width: 200px;
  height: max-content;
  top: 40px;
  left: 0;
  background: #fff;
  border-top: 1px solid;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #777D74;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 99;
}
.dropdown_menu{
  left: 0;
  top: 100%;
}


.dropdown_sub_menu{
  position: absolute;
  width: 200px;
  height: max-content;
  top: 0;
  left: 100%;
}
/* .dropdown_sub_menu{
  top: 0;
  left: 100%;
  width: 200px;
} */
.scollingSubmenu{
  overflow-y: scroll;
overflow-x: hidden;
height: 450px;
width: 300px;
border-top: unset;
border-top: 1px solid;

}
.main_menu > li:hover .dropdown_menu,
.main_menu > li .dropdown_menu>li:hover .dropdown_sub_menu{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.dropdown_menu>li{
  display: block;
}
.dropdown_menu >li >a,
.dropdown_sub_menu >li >a{
  padding: 1rem;
  color: #444;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown_menu >li >a i{
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
.dropdown_menu >li >a:hover i{
  transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
}
.dropdown_menu >li >a:hover,
.dropdown_sub_menu >li >a:hover{
  background: #30A1DB;
  color: #fff;
}

/* ///MOBILE MENU NAVBAR STYLING START */

.menu-btn {
  font-size: 23px;
  color: rgb(15, 14, 14);
  cursor: pointer;
  position: absolute;
  right: 6.2rem;
  display: none;
  top: 50px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


/* Heading Section End Here*//* Top to Bottom Scrolling Styling  Start Here*/

.scrolling_top {
  position: relative;
}

.top {
  width: 37px;
  text-align: center;
  background: #000E4B;
  line-height: 2;
  bottom: 2.5rem;
  position: absolute;
  bottom: 16px;
  right: 42px;
}

.top a {
  color: #fff;
}


/* Top to Bottom Scrolling Styling  Start Here*/


@media screen and (max-width:991px) {
  .menu_section {
      justify-content: start;
      padding: 1rem 4rem;
  }
  /*MOBILE MENU nav-menu Styling */
  .menu-btn {
      display: block;
      top: 33px;
  }
  .menu-btn i.active:before {
      content: "\f00d";
  }
  .main_menu {
      border-top: 1px solid;
      position: absolute;
      display: block;
      left: -108%;
      top: 75px;
      width: 100%;
      background: #00b894;
      transition: 0.5s ease-in;
      -webkit-transition: 0.5s ease-in;
      -moz-transition: 0.5s ease-in;
      -ms-transition: 0.5s ease-in;
      -o-transition: 0.5s ease-in;
      z-index: 9999999999;
  }
  .main_menu.active {
      left: 0;
      z-index: 9999999999;
  }
  .main_menu > li{
      display: block;
      border-bottom: 1px solid;
  }
  .dropdown_menu{
  left: 115px;
  top: 30%;
  z-index: 999;
  }
}
@media screen and (max-width:550px){
  .dropdown_sub_menu{
      top: 0;
      left: 0;
      background: #fff;
    }

.main_menu > li .dropdown_menu>li:hover .dropdown_sub_menu{         
  transform: translateY(0);
  top: 90%;
  left: 10%;
  z-index: 99;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  }
}


